<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>스프링 부트 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <!-- css 가 먼저 화면을 그릴 수 있도록 head 영역에 위치시킨다. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>